body{
    background-color: rgb(183, 227, 227);
    text-align: center;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    
}
#B{
    color: red;
    background-color: rgb(255, 205, 205);
}
table{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-large;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 5%;
    border-spacing: 25px;
}
input,textarea{
    font-size: large;
}
select{
    font-size: medium;
}
tr{
    padding: 100px;
}
.t1,.t2{
    text-align: left;
}
.b{
    background-color: red;
    color: white;
    font-size: medium;
}